<div ng-init="vm.initialize()"></div>
<input type="text" maxlength="5" style="width:10em;" ng-model="vm.symbol" />
<button type="button" class="btn btn-success btn-sm" ng-click="vm.autoRefresh({t:vm.symbol})">Add Watch</button>

<br /><br />
<div class="row">
    <div class="col-sm-4" ng-repeat="stock in vm.holdValues">
        <div class="thumbnail">
            <span class="pull-right" ng-click="vm.autoRefresh(stock)"><i class="fa fa-fw fa-refresh"></i></span>
            <h3>{{stock.t}}</h3>
            <p>Price: {{stock.l}}</p>
            <p><strong>Change:</strong> <span ng-class="{'text-success':stock.c > 0, 'text-danger':stock.c < 0}"><strong>{{stock.c}}</strong> ({{stock.cp}}%)</span></p>
        </div>
    </div>
</div>
